.about{
    background-image: url(../assets/pablo-merchan-montes-Orz90t6o0e4-unsplash.jpg);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}